<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!--<context:component-scan base-package="main.java.com.ccc.javaConfigBean.soundsystem"/>-->
    <bean class="main.java.com.ccc.javaConfigBean.soundsystem.config.BlankDiscConfig"/>

    <util:list id="trackList">
        <value>Sgt. Pepper's Lonely Hearts Club Band</value>
        <value>WIth a Litter Help from my Friend</value>
        <value>Lycy in the Sky with Diamonds</value>
        <value>Getting Better</value>
        <value>Fixing a Hole</value>
    </util:list>

    <bean id="CompactDisc" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.SgtPeppers">

    </bean>

    <!--<bean id="CDPlayer" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.CDPlayer">-->
        <!--<constructor-arg ref="CompactDisc"></constructor-arg>-->
    <!--</bean>-->

    <!--构造器注入-->
    <!--<bean id="CDPlayer" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.CDPlayer" c:_0-ref="BlankDisc"/>-->

    <!--属性注入-->
    <bean id="CDPlayer" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.CDPlayer" p:sgtPeppers-ref="BlankDisc"/>
    <!--<bean id="BlankDisc" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.BlankDisc">-->
        <!--<constructor-arg value="Sgt. Pepper's Lonely hearts Club Band" />-->
        <!--<constructor-arg value="The Beatles" />-->
    <!--</bean>-->

    <!--构造器注入 c命名-->
    <bean id="BlankDisc" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.BlankDisc"
        c:title="Sgt. Pepper's Lonely hearts Club Band"
        c:artist="The Beatles">
        <constructor-arg ref="trackList"></constructor-arg>

        <!--<constructor-arg value="Sgt. Pepper's Lonely hearts Club Band"></constructor-arg>-->
        <!--<constructor-arg value="The Beatles"></constructor-arg>-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<value>Sgt. Pepper's Lonely Hearts Club Band</value>-->
                <!--<value>WIth a Litter Help from my Friend</value>-->
                <!--<value>Lycy in the Sky with Diamonds</value>-->
                <!--<value>Getting Better</value>-->
                <!--<value>Fixing a Hole</value>-->
            <!--</list>-->
        <!--</constructor-arg>-->
    </bean>

    <!-- 属性注入 p命名 -->
    <!--<bean id="BlankDisc" class="main.java.com.ccc.javaConfigBean.soundsystem.pojo.BlankDisc"-->
          <!--p:title="Sgt. Pepper's Lonely Hearts Club Band" p:artist="The Beatles">-->
        <!--<property name="tracks">-->
            <!--<list>-->
                <!--<value>Sgt. Pepper's Lonely Hearts Club Band</value>-->
                <!--<value>WIth a Litter Help from my Friend</value>-->
                <!--<value>Lycy in the Sky with Diamonds</value>-->
                <!--<value>Getting Better</value>-->
                <!--<value>Fixing a Hole</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>